.content{
  margin-top: 100px;
}

.moviecardview{
height: 600px;
text-align: center;

}
.image{
  height: 166px;
  width: 190px;
}

.body{
  height: 270px;
  width: 190px;
}

.title{
  text-align: center;
  align-items: center;
}

.description {
  font-weight: lighter;
  text-align: center;
}