.title {
  text-align: center;
  align-items: center;
}

.description.card-text {
  font-weight: lighter;
  text-align: center;
}

.content {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.moviecardview {
  height: 640px;
  text-align: center;
}

